<div class="chat-container d-flex flex-column h-100 border" [ngClass]="{'dark-mode': isDarkMode$ | async, 'light-mode': !(isDarkMode$ | async)}">

  <!-- HEADER -->
  <div *ngIf="channel != null" class="chat-header border-bottom p-2">
    <h5 class="mb-0"># {{channel.name}}</h5>
    <span class=" font-weight-light ms-2" style="color: #666; font-size: 0.85rem;">{{ channel.memberCount }} members</span>
  </div>

  <!-- ✅ SCROLLABLE MESSAGES CONTAINER -->
  <div class="chat-messages flex-grow-1 overflow-auto p-3">

    <div *ngFor="let msg of messages" 
         class="message d-flex mb-3"
         [ngClass]="{
           'justify-content-end text-end': msg.senderId === currentUserId,
           'justify-content-start': msg.senderId !== currentUserId
         }">

      <!-- LEFT avatar -->
      <ng-container *ngIf="msg.senderId !== currentUserId">
        <img *ngIf="msg.sender?.profilePictureUrl"
          [src]="msg.sender.profilePictureUrl"
          class="rounded-circle me-3"
          style="width:40px;height:40px;object-fit:cover;">
        
        <div *ngIf="!msg.sender?.profilePictureUrl"
          class="rounded-circle me-3 text-center"
          style="width:40px;height:40px;background-color:#ccc;">
          <span class="text-white" style="line-height:40px;">
            {{ msg.sender?.userName?.charAt(0) }}
          </span>
        </div>
      </ng-container>

      <!-- message -->
      <div class="bg-light p-2 rounded msg-box" [ngClass]="{
        'my-msg': msg.senderId === currentUserId, }">

        <div class="d-flex align-items-center">
          <strong class="me-2" [style.color]="
            msg.sender?.role === 'owner' ? '#facc15' :
            msg.sender?.role === 'admin' ? '#9933ea' :
            msg.sender?.role === 'member' ? '#6c757d' :
            'gray'
          ">{{ msg.sender?.userName }}</strong>
        </div>

        <div class="message-content align-items-start justify-content-start d-flex flex-column ">
          {{ msg.content }}

          <small style="color: #666; font-size: 0.75rem;" class="d-block mt-1 align-self-end">
            {{ msg.sentAt | date:'shortTime' }}
          </small>
        </div>

      </div>
      
    </div>

  </div>

  <div *ngIf="typingUsers.length > 0" class="typing">
    <span class="typing-text">
      {{ typingUsers[0]?.userName || 'Someone' }} is typing
    </span>

    <span class="typing-dots">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <!-- INPUT (always bottom) -->
  <div class="chat-input border-top p-3 bg-white">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Message..."
        [(ngModel)]="messageInput"
        (input)="onTyping()"
        (keyup.enter)="sendMessage()"
      />
      <button class="btn btn-send" (click)="sendMessage()">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>
      </button>
    </div>
  </div>

</div>
