.container-fluid.dark-mode .bg-white {
    background-color: #1a1a22 !important; 
    border-color: #333 !important;
}

.container-fluid.dark-mode .channel-item {
    color: #9ca3af; 
}

.container-fluid.dark-mode .channel-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}

.container-fluid.dark-mode .input-group-text,
.container-fluid.dark-mode .form-control {
    background-color: #0f0f14 !important;
    border-color: #333 !important;
    color: white;
}

.container-fluid .form-control:focus {
    outline: 1.5px solid #a64bfb;
    border-color: #a64bfb;
    box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.2);
}

.form-control::placeholder {
  color: #666;
}

.channel-item {
  width: 100%;
  padding: 8px 12px;
  color: #6b7280; 
  transition: background 0.2s;
}

.channel-item:hover {
  background-color: #f3f4f6;
  color: #0f0f14;
}

.container-fluid.dark-mode .channel-item {
  color: #9ca3af; 
}

.container-fluid.dark-mode .channel-item:hover {
  background-color: #7c7c7d34;
  color: #fff;
}

.active-channel, .container-fluid.dark-mode .active-channel {
  background-color: rgba(147, 51, 234, 0.15);
  color: #6b21a8;

  border-left: #a855f7 3px solid;
}

.badge {
  background-color: #a855f7;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 999px;
}

.bg-purple
{
  background-color: #a855f7;
}

.active-channel .badge {
  background-color: #7e22ce;
}

.modal-body.dark-mode .form-control {
    background-color: #0f0f14 !important;
    border-color: #333 !important;
    color: white;
}

.form-control:focus {
    outline: 1.5px solid #a64bfb;
    border-color: #a64bfb;
    box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.2);
}

.form-control::placeholder {
    color: #666;
}